*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: "Fraunces"; }

.heading-1 {
  color: white;
  font-size: 5rem;
  letter-spacing: 8px;
  text-transform: uppercase; }

.heading-2 {
  font-weight: 900; }

.header__menu {
  display: flex;
  font-family: "Barlow"; }

.header__inner {
  display: flex;
  gap: 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem; }
  .header__inner img {
    max-height: 8rem; }

.header .logo {
  font-weight: 900;
  font-size: 3rem;
  color: white; }

.menu__nav {
  display: flex;
  gap: 4rem;
  margin-left: auto; }

.menu__link {
  color: white;
  transition: all 0.2s; }
  .menu__link:hover {
    color: #ffe347; }
  .menu__link--contact {
    background-color: white;
    padding: 1.5rem 2.5rem;
    font-family: "Fraunces";
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 100px;
    color: #222;
    transition: all 0.2s; }
    .menu__link--contact:hover {
      background-color: #6fcfff;
      color: white; }

.the-content {
  max-width: 72rem;
  padding: 14rem 12rem 0 14rem; }
  .the-content h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 4rem;
    color: #23303e; }
  .the-content .paragraph {
    font-family: "Barlow";
    line-height: 3rem;
    color: #8d9196;
    margin-bottom: 4rem; }
  .the-content a {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 900;
    color: #23303e;
    position: relative; }
    .the-content a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 7px;
      bottom: 0;
      left: 0;
      background-color: #fff3ad;
      border-radius: 100px;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      z-index: -1; }
    .the-content a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.col {
  display: flex;
  max-width: 72rem;
  max-height: 50rem; }

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/desktop/image-header.jpg");
  height: calc(100vh);
  padding: 4.3rem 4rem; }

.section-about {
  display: flex;
  max-width: 1440px; }
  .section-about__image {
    max-width: 100%; }

.section-client {
  display: flex;
  gap: 8rem;
  flex-direction: column;
  padding: 15rem 0; }
  .section-client h2 {
    align-self: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #a7abae; }
  .section-client__clients {
    display: flex;
    gap: 3rem;
    justify-content: center; }
  .section-client__client {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
    width: 100%; }
    .section-client__client p {
      font-family: "Barlow";
      text-align: center;
      line-height: 3rem;
      color: #5a636c; }
  .section-client__photo {
    max-width: 8rem;
    width: 100%;
    border-radius: 100%;
    margin-bottom: 6rem; }
  .section-client__description {
    text-align: center;
    margin-top: 8rem; }
    .section-client__description h3 {
      font-weight: 900;
      color: #23303e;
      margin-bottom: 0.8rem; }
    .section-client__description .client-status {
      font-family: "Barlow";
      font-size: 1.5rem;
      color: #a7abae; }

.section-projects {
  display: flex;
  height: 60rem; }
  .section-projects--project-1, .section-projects--project-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-width: 72rem;
    width: 100%;
    padding: 5rem; }
    .section-projects--project-1 h2, .section-projects--project-2 h2 {
      margin-bottom: 3rem; }
    .section-projects--project-1 p, .section-projects--project-2 p {
      font-family: "Barlow";
      text-align: center;
      line-height: 3rem;
      width: 38rem; }
  .section-projects--project-1 {
    background-image: url("../images/desktop/image-graphic-design.jpg"); }
    .section-projects--project-1 h2 {
      color: #25564b; }
    .section-projects--project-1 p {
      color: #458c7e; }
  .section-projects--project-2 {
    background-image: url("../images/desktop/image-photography.jpg"); }
    .section-projects--project-2 h2 {
      color: #19536b; }
    .section-projects--project-2 p {
      color: #1d5f7c; }

.section-services {
  display: flex;
  flex-direction: row-reverse; }
  .section-services div {
    padding: 14rem 16rem 0 12rem; }
