.header {
  &__menu {
    display: flex;
    font-family: $title;
  }

  &__inner {
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    img {
      max-height: 8rem;
    }
  }

  .logo {
    font-weight: 900;
    font-size: 3rem;
    color: $white;
  }
}

.menu {
  &__nav {
    display: flex;
    gap: 4rem;
    margin-left: auto;
  }

  &__item {
  }
  &__link {
    color: $white;
    transition: all 0.2s;

    &:hover {
      color: lighten($primary-yellow, 15%);
    }

    &--contact {
      background-color: $white;
      padding: 1.5rem 2.5rem;
      font-family: $display;
      font-size: 1.4rem;
      text-transform: uppercase;
      border-radius: 100px;
      color: $black;
      transition: all 0.2s;

      &:hover {
        background-color: #6fcfff;
        color: $white;
      }
    }
  }
}
